body{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
}

#practiceForm{
    display:flex;
    flex-direction: column;
    border:3px solid black;
    padding: 2rem;
}

#practiceForm > div{
    padding:.2rem;
}

input:invalid{
    background-color: rgb(203, 96, 96);
}

.invalid{
    background-color: rgb(203, 96, 96);

}

.active{
    background-color: rgb(203, 96, 96);
    border:1px solid black;
    margin:.4rem 0;
    padding:.1rem;
}